.main-bg {
    max-width: 1366px;
    height: 768px;
    margin: 0 auto;
    background: url("../img/milan-bg.jpg") no-repeat;}
.container{width: 1060px;
     margin: 0 auto;}
.header-logo{ float:left;
    margin-bottom:47px;}
.header-logo-text-big{ font-family: Verdana;
    color:  #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
    margin-left:15px;}
.header-logo-text-small{ font-family: Verdana;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
    margin-left: 65px;}
.header-logo-link{text-decoration: none;}
.header-contacts{ float: right;}
.header-contact-text{ font-family: Verdana;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
text-decoration: none;}
.tour-type {position: relative;
    margin-right: 65px;
    width: 302px;
    margin-bottom: 22px;
    float: left;}
.tour-name{text-decoration: none;
margin-top: 22px;}
.clearfix:after {
    content: "";
    display: table;
    clear: both;}
.tour-type:nth-child(3n) {
    margin-right: 0;}
.tour-detailes {
    width: 100%;
    height: 63px;}
.tour-type:hover .tour-detailes {
    opacity: 1;}
h4{text-align: center;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 18px;
    text-align: center;
text-decoration: none;
padding-top: 22px;}
.copyright{ font-family: Verdana;
    color:  #ffffff;
    font-size: 12px;
    text-align: center;}
.footer{ margin-top:61px;}